*~
*.pyc
.DS_Store
deploy/*
deploy_tmp/*
*.cprof
*.profile
*.log
pylint*
*.tmproj
test_site
site.log
settings.pyc
*.jpg
*.JPG
/nbproject/private/
/nbproject
/images/import/*
/images/thumbs/*
/images/watermark/*
/images/export/*
/images/tmp/*
/db/mysqlitedb.sqlite