*~
*.pyc
.DS_Store
deploy/*
deploy_tmp/*
*.cprof
*.profile
*.log
pylint*
*.tmproj
test_site
site.log
settings.pyc
*.jpg
*.JPG
/nbproject/private/
/nbproject
/images/import/*.jpg
/images/thumbs/*.jpg
/images/watermark/*.jpg
/db/mysqlitedb.sqlite